<div class="container">
  <h1>Edit Task</h1>
    <form (ngSubmit)="onEditTask(f)"   #f="ngForm" >
      <div class="form-group">
        <Label>Id</Label>
        <input name="Id"  [(ngModel)]="Id" class="form-control" placeholder="Enter Id">
        </div>
      <div class="form-group">
        <Label>Title</Label>
        <input name="Title" [(ngModel)]="Title" class="form-control" placeholder="Enter Title">
      </div>
      <div class="form-group">
        <Label>Status</Label>
        <input name="Status" [(ngModel)]="Status" class="form-control" placeholder="Enter Status">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Task</button>
      </div>
    </form>
  </div>
